body{

margin:0;

background:#050505;

color:white;

font-family:Arial;

}



header{

display:flex;

align-items:center;

justify-content:space-between;

padding:25px;


}



.logo{

font-size:32px;

color:#ff1744;

font-weight:bold;

}



.search{

background:#111;

border:1px solid #333;

border-radius:20px;

padding:15px;

color:white;

}



a{

color:white;

margin:10px;

text-decoration:none;

}



.games{

display:grid;

grid-template-columns:repeat(3,1fr);

gap:20px;

padding:30px;

}



.card{

height:200px;

padding:25px;


background:

rgba(255,255,255,.08);


border-radius:20px;


backdrop-filter:blur(15px);


border:1px solid #333;


}



.card:hover{

box-shadow:
0 0 30px #ff1744;


transform:translateY(-5px);


}



button{

background:#ff1744;

color:white;

border:0;

padding:12px 25px;

border-radius:20px;

}
